<div class="url-search container">
  <div class="mt-4">
    <header>
      <h3 class="text-center mb-4">Search commits by GitHub link</h3>
      <form [formGroup]="searchForm" (ngSubmit)="getCommits()" class="d-flex flex-wrap justify-content-center mb-4">
        <div class="form-group">
          <input type="text" formControlName="url" class="form-control" aria-label="link" required>
          <ng-container *ngIf="searchForm.invalid && searchForm.get('url').touched">
            <label class="text-danger" *ngIf="searchForm.invalid && searchForm.get('url').value">
              Invalid URL
            </label>
            <label class="text-danger" *ngIf="searchForm.invalid && !searchForm.get('url').value">
              Required
            </label>
          </ng-container>
        </div>
        <div class="ml-2">
          <button type="submit" class="btn btn-primary" [disabled]="searchForm.invalid">Search commits</button>
        </div>
      </form>
    </header>
    <ngb-alert *ngIf="errorMessage" type="danger" (close)="removeError()">{{ errorMessage }}</ngb-alert>
    <section>
      <app-commits [commits]="commits"></app-commits>
    </section>
  </div>
</div>
